[submodule "Sim.Faciem.Material"]
	path = Packages/Sim.Faciem.Material
	url = https://github.com/Simplicitas-Studios/Sim.Faciem.Material.git
[submodule "Packages/Sim.Faciem"]
	path = Packages/Sim.Faciem
	url = https://github.com/Simplicitas-Studios/Sim.Faciem.git
[submodule "Packages/Sim.Faciem.uGUI"]
	path = Packages/Sim.Faciem.uGUI
	url = https://github.com/Simplicitas-Studios/Sim.Faciem.uGUI.git
[submodule "Packages/Sim.Utility"]
	path = Packages/Sim.Utility
	url = https://github.com/Simplicitas-Studios/Sim.Utility.git
